<!DOCTYPE html>
<html>
<head>
	<!-- Thông tin cơ bản về trang -->
	<meta charset="utf-8" />
	<title>DeskApp - Mẫu giao diện quản trị Bootstrap</title>

	<!-- Favicon của trang -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/Admin/vendors/images/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="~/Admin/vendors/images/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="~/Admin/vendors/images/favicon-16x16.png" />

	<!-- Các thẻ meta dành cho thiết bị di động -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Phông chữ của Google -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/Admin/vendors/styles/core.css" />
	<link rel="stylesheet" type="text/css" href="~/Admin/vendors/styles/icon-font.min.css" />
	<link rel="stylesheet" type="text/css" href="~/Admin/src/plugins/jquery-steps/jquery.steps.css" />
	<link rel="stylesheet" type="text/css" href="~/Admin/vendors/styles/style.css" />

	<!-- Thẻ Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258" crossorigin="anonymous"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-GBZ3SGGX85");
	</script>
	<!-- Trình quản lý thẻ Google -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != "dataLayer" ? "&l=" + l : "";
			j.async = true;
			j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
	</script>
	<!-- Kết thúc thẻ Trình quản lý thẻ Google -->
</head>

<body class="login-page">
	@RenderBody()
	<script src="@Url.Content("vendors/scripts/core.js")"></script>
	<script src="@Url.Content("vendors/scripts/script.min.js")"></script>
	<script src="@Url.Content("vendors/scripts/process.js")"></script>
	<script src="@Url.Content("vendors/scripts/layout-settings.js")"></script>
	<script src="@Url.Content("src/plugins/jquery-steps/jquery.steps.js")"></script>

	<script>
		$(".tab-wizard2").steps({
			headerTag: "h5",
			bodyTag: "section",
			transitionEffect: "fade",
			titleTemplate: '<span class="step">#index#</span> #title#',
			labels: { finish: "Đăng ký" },
			onFinished: function (event, currentIndex) {
				Swal.fire("Đăng ký thành công!", "Bạn đã hoàn tất.", "success");
			},
		});
	</script>
</body>
</html>
