@using ProjectGSMAUI.Api.Data.Entities
@using ProjectGSMAUI.MVC.Models
@model IEnumerable<SanPhamModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var SanPhamList = ViewData["ListSanPham"] as List<SanPham>;
    var Searching = ViewData["Searching"] as string;
}
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>Quản lý Sản Phẩm</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Quản lý Sản Phẩm
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container mt-3" style="margin-top: 40px; margin-bottom: 40px">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="ThemSanPhamModal">
                            Thêm Sản Phẩm Mới
                        </button>
                    </div>
                    <div class="col-6" style="text-align: right">
                        <form method="get" action="/Admin/SanPham/Index" style="display: inline;">
                            <input type="text" name="searching" id="Searching" placeholder="Gõ tên sản phẩm..." style="height: 40px; width: 200px; border-radius: 5px; padding-left:20px; padding-right: 20px" />
                            <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            @if (SanPhamList != null && SanPhamList.Any())
            {
                @foreach (var item in SanPhamList)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                        <div class="da-card">
                            <div class="da-card-photo">
                                <div style="height:200px; border-bottom: 1px solid grey">
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.HinhAnh)" alt="" style="max-width:400px; height:100%" />
                                </div>
                                <div class="da-overlay da-slide-top">
                                    <div class="da-social">
                                        <ul class="clearfix">
                                            <li>
                                                <a href="#" class="detail-sanpham" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#myModal2">
                                                    <i class="bi bi-info-circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="edit-sanpham" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#myModal1">
                                                    <i class="bi bi-pencil"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="delete-sanpham" data-id="@item.Id"><i class="bi bi-x"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="da-card-content">
                                <h5 class="h5 mb-10">@item.TenSanPham</h5>
                                <p class="mb-0"><strong>Giá: </strong>@item.Gia</p>
                                <p class="mb-0"><strong>Số Lượng: </strong>@item.SoLuong</p> 
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="text-center">Không tìm thấy sản phẩm nào.</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm Sản Phẩm Mới</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="TenSanPham">Tên Sản Phẩm</label>
                            <input type="text" class="form-control" id="TenSanPham" placeholder="Nhập tên sản phẩm" />
                            <h6 id="TenSanPhamError"></h6>
                        </div>
                        <div class="form-group">
                            <label for="GiaBan">Giá Bán</label>
                            <input type="number" class="form-control" id="GiaBan" placeholder="Nhập giá bán" />
                            <h6 id="GiaBanError"></h6>
                        </div>
                        <div class="form-group">
                            <label for="MoTa">Mô Tả</label>
                            <textarea class="form-control" id="MoTa" name="MoTa" rows="3" placeholder="Nhập mô tả (không bắt buộc)"></textarea>
                            <h6 id="MoTaError"></h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="SoLuong">Số Lượng</label>
                            <input type="number" class="form-control" id="SoLuong" placeholder="Nhập số lượng" />
                            <h6 id="SoLuongError"></h6>
                        </div>
                        <div class="form-group">
                            <label for="ImageFile">Hình Ảnh</label>
                            <input type="file" class="form-control-file" id="ImageFile" accept="image/*" />
                            <div>
                                <img src="" id="ShowHinhAnh" style="max-height: 200px" />
                            </div>
                            <h6 id="ImageFileError"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddSanPham">Thêm Mới</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập Nhật Sản Phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="TenSanPham1">Tên Sản Phẩm</label>
                            <input type="text" class="form-control" id="TenSanPham1" />
                            <h6 id="TenSanPham1Error"></h6>
                        </div>
                        <div class="form-group">
                            <label for="GiaBan1">Giá Bán</label>
                            <input type="number" class="form-control" id="GiaBan1" />
                            <h6 id="GiaBan1Error"></h6>
                        </div>
                        <div class="form-group">
                            <label for="MoTa1">Mô Tả</label>
                            <textarea class="form-control" id="MoTa1" name="MoTa1" rows="3" placeholder="Nhập mô tả sản phẩm"></textarea>
                            <h6 id="MoTa1Error"></h6>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="SoLuong1">Số Lượng</label>
                            <input type="number" class="form-control" id="SoLuong1" />
                            <h6 id="SoLuong1Error"></h6>
                        </div>
                        <div class="form-group">
                            <label for="ImageFile1">Hình Ảnh</label>
                            <input type="file" class="form-control-file" id="ImageFile1" accept="image/*" />
                            <div>
                                <img src="" id="ShowHinhAnh1" style="max-height: 200px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpdateSanPham">Cập Nhật</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chi Tiết Sản Phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label id="TenSanPham2" style="font-weight: bold; color: red; font-size: 2rem">Tên Sản Phẩm</label>
                        </div>
                        <div class="form-group">
                            <label id="GiaBan2">Giá Bán</label>
                        </div>
                        <div class="form-group">
                            <label id="SoLuong2">Số Lượng</label>
                        </div>
                        <div class="form-group">
                            <label id="MoTa2">Mô Tả</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Hình Ảnh</label>
                            <img src="" id="ShowHinhAnh2" style="max-height: 300px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $("#btnAddSanPham").click(function () {
            var formData = new FormData();
            formData.append("TenSanPham", $("#TenSanPham").val());
            formData.append("MoTa", $("#MoTa").val());
            formData.append("Gia", $("#GiaBan").val());
            formData.append("SoLuong", $("#SoLuong").val());

            var imageFile = $("#ImageFile")[0].files[0];
            if (imageFile) {
                formData.append("HinhAnh", imageFile);
            } else {
                alert("Vui lòng chọn tệp hình ảnh.");
                return;
            }

            $.ajax({
                url: "/Admin/SanPham/Create",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        alert("Thêm sản phẩm thành công!");
                        location.reload();
                    } else {
                        alert(response.message || "Đã xảy ra lỗi khi thêm sản phẩm.");
                    }
                },
                error: function (xhr) {
                    var errors = xhr.responseJSON;
                    if (errors) {
                        $("#TenSanPhamError").text(errors.TenSanPham || "").css("color", "red");
                        $("#GiaBanError").text(errors.Gia || "").css("color", "red");
                        $("#SoLuongError").text(errors.SoLuong || "").css("color", "red");
                    } else {
                        alert("Đã xảy ra lỗi!");
                    }
                }
            });
        });

        $(document).ready(function () {
            $(document).on("click", ".edit-sanpham", function () {
                var id = $(this).data("id");

                $.ajax({
                    url: "/Admin/SanPham/GetSanPham",
                    type: "GET",
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            var sanPham = response.data;
                            console.log(sanPham)                            
                            $("#TenSanPham1").val(sanPham.tenSanPham);
                            $("#GiaBan1").val(sanPham.gia);
                            $("#SoLuong1").val(sanPham.soLuong);
                            $("#MoTa1").val(sanPham.moTa);
                            if(response.data.hinhAnh!=null)
                            {
                                var imageUrl = "data:image/jpeg;base64," + response.data.hinhAnh;
                                $("#ShowHinhAnh1").attr("src", imageUrl);
                            }                           
                            $("#TenSanPham1").data("id", sanPham.id);
                            $("#myModal1").modal("show");
                        } else {
                            alert("Không tìm thấy sản phẩm.");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi lấy thông tin sản phẩm.");
                    }
                });
            });


            $("#btnUpdateSanPham").click(function () {
                var formData = new FormData();
                formData.append("Id", $("#TenSanPham1").data("id"));
                formData.append("TenSanPham", $("#TenSanPham1").val());
                formData.append("Gia", $("#GiaBan1").val());
                formData.append("SoLuong", $("#SoLuong1").val());
                formData.append("MoTa", $("#MoTa1").val());

                var hinhAnhFile = $("#ImageFile1")[0].files[0];
                if (hinhAnhFile) {
                    formData.append("HinhAnh", hinhAnhFile);
                }

                $.ajax({
                    url: "/Admin/SanPham/Update",
                    type: "POST",
                    data: formData,
                    processData: false,  
                    contentType: false, 
                    success: function (response) {
                        if (response.success) {
                            alert("Cập nhật sản phẩm thành công.");
                            location.reload(); 
                        } else {
                            alert("Cập nhật thất bại: " + response.message);
                        }
                    },
                    error: function (xhr) {
                        var errors = xhr.responseJSON;
                        if (errors) {
                            $("#TenSanPham1Error").text(errors.TenSanPham || "").css("color", "red");
                            $("#GiaBan1Error").text(errors.Gia || "").css("color", "red");
                            $("#SoLuong1Error").text(errors.SoLuong || "").css("color", "red");
                        } else {
                            alert("Đã xảy ra lỗi!");
                        }
                    }
                });
            });
        });

        $(document).on("click", ".delete-sanpham", function () {
            var id = $(this).data("id");
            if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                $.ajax({
                    url: "/Admin/SanPham/Delete",
                    type: "POST",
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            alert("Xóa sản phẩm thành công!");
                            location.reload();
                        } else {
                            alert(response.message || "Không thể xóa sản phẩm.");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi xóa sản phẩm.");
                    }
                });
            }
        });

        $("#ImageFile").on("change", function (e) {
            var file = e.target.files[0];
            var reader = new FileReader();

            reader.onload = function (event) {
                $("#ShowHinhAnh").attr("src", event.target.result);
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        });
        $("#ImageFile1").on("change", function (e) {
            var file = e.target.files[0];
            var reader = new FileReader();

            reader.onload = function (event) {
                $("#ShowHinhAnh1").attr("src", event.target.result);
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        });
    });

    $(document).on("click", ".detail-sanpham", function () {
        var id = $(this).data('id');
        console.log("ID sản phẩm: " + id); 
        $.ajax({
            url: "/Admin/SanPham/GetSanPham", 
            type: "GET",
            data: { id: id },
            success: function (response) {
                console.log(response);
                if (response.success) {
                    $("#TenSanPham2").text(response.data.tenSanPham);
                    $("#GiaBan2").text(response.data.giaBan);
                    $("#SoLuong2").text(response.data.soLuong);
                    $("#MoTa2").text(response.data.moTa);
                    var imageUrl = "data:image/jpeg;base64," + response.data.hinhAnh;
                    $("#ShowHinhAnh2").attr("src", imageUrl);
                    $("#myModal2").modal("show");
                } else {
                    alert("Không tìm thấy thông tin sản phẩm.");
                }
            },
            error: function () {
                alert("Đã xảy ra lỗi khi lấy thông tin sản phẩm.");
            }
        });
    });

</script>


