@{

    ViewData["Title"] = "Home Page";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thangHienTai = DateTime.Now.Month;
    var namHienTai = DateTime.Now.Year;
    var phimDangChieu = Model.Where(p => p.NgayKhoiChieu.HasValue &&
                                          p.NgayKhoiChieu.Value.Month == thangHienTai &&
                                          p.NgayKhoiChieu.Value.Year == namHienTai);
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProjectGSMVC.Models.PhimVM>
<style>
    #trailerModal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
       z-index: 9999; /* ensures the modal is on top */
    }

    iframe {
        max-width: 90%; /* makes sure the iframe doesn't exceed screen width */
        max-height: 80%; /* makes sure the iframe doesn't exceed screen height */
    }

</style>
<div class="fullwidth-slider">
    <div id="headerslider" class="carousel slide">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-target="#headerslider" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>

        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.Count; i++)
            {
                var phim = Model[i];
                <div class="item @(i == 0 ? "active" : "")">
                    <div class="fill"
                         style="background-image: url('data:image/jpeg;base64,@(phim.HinhAnh != null ? Convert.ToBase64String(phim.HinhAnh) : "")');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;">
                    <div class="bs-slider-overlay"></div>
                        <div class="container movie-slider-container">
                            <div class="row">
                                <div class="col-sm-12 movie-slider-content">
                                    <div class="slider-content">
                                        <ul class="subtitle" data-animation="animated bounceInRight">
                                            <li>@phim.TheLoai</li>
                                        </ul>
                                        <div class="title" data-animation="animated bounceInRight" style="font-family: 'Arial', 'Roboto', sans-serif;">
                                            @phim.TenPhim <i>(@(phim.NgayKhoiChieu?.Year ?? 2024))</i>
                                        </div>

                                        <div class="slide_right" data-animation="animated bounceInRight">
                                            <a href="javascript:void(0);" class="btn-trailer"
                                               data-video-url="@phim.Video">
                                                Xem Trailer
                                            </a>

                                            <a href="javascript:;" class="btn-ticket">Mua Vé</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Điều hướng -->
        <a class="carousel-control left" href="#headerslider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right" href="#headerslider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>


<!-- Modal hoặc phần chứa video -->
<div id="trailerModal" style="display:none; margin-left:200px; margin-top: 10px">
     <video id="videoTrailer" width="100%" controls> 
       <source id="videoSource" src="" type="video/mp4"> 
        Trình duyệt của bạn không hỗ trợ thẻ video. 
    </video> 
</div>

<section class="section-content">
    <div class="container-fluid pv11 ">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="heading text-center" style="font-family: 'Arial', 'Roboto', sans-serif;">Đang chiếu</h3>
                <div class="ticket-carousel pvt85">
                    <div class="swiper-container carousel-container movie-images" data-col="5">
                        <div class="swiper-wrapper">
                            @foreach (var phim in phimDangChieu)
                            {
                                <div class="swiper-slide">
                                    <div class="movie-image" style="background-image: url('data:image/jpeg;base64,@(phim.HinhAnh != null ? Convert.ToBase64String(phim.HinhAnh) : "")');">
                                        <div class="entry-hover">
                                            <div class="entry-actions">
                                                <a href="javascript:void(0);" class="btn-trailer" data-video-url="@phim.Video">Xem Trailer</a>
                                                <a href="#order" class="btn-ticket order_btn">Mua Vé</a>
                                            </div>
                                        </div>
                                        <div class="entry-desc">
                                            <h3 class="entry-title">@phim.TenPhim</h3>
                                            <p>@phim.TheLoai</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/User/js/google-maps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
</section>


<!-- JavaScript để hiển thị trailer -->
<script>
    document.querySelectorAll('.btn-trailer').forEach(function(btn) {
        btn.addEventListener('click', function() {
            // Lấy URL video từ data attribute
            var videoUrl = btn.getAttribute('data-video-url');
            if (videoUrl) {
                let youtubeMatch = videoUrl.match(/(?:youtube\.com\/(?:watch\?v=|embed\/|v\/)|youtu\.be\/)([^&?]+)/);
                let  embedUrl = `https://www.youtube.com/embed/${youtubeMatch[1]}`;
                // Cập nhật source cho video và hiển thị modal
                document.getElementById('trailerModal').innerHTML=`<iframe width="70%" height="80%" src="${embedUrl}" frameborder="0" allowfullscreen></iframe>`;
                // document.getElementById('videoSource').src = embedUrl;
                // document.getElementById('videoTrailer').load(); Tải lại video
                document.getElementById('trailerModal').style.display = 'block';
            }
        });
    });
    
    // Đóng modal khi click ngoài video
    document.getElementById('trailerModal').addEventListener('click', function(event) {
        if (event.target === this) {
            this.style.display = 'none';
            document.getElementById('videoTrailer').pause();
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
